
body {
    background-image: url("../images/dust_scratches.png");
}

.banner{
	background: white;
	height: 100px;

}

.myname {
	background: #4aaaa5;
	color: white;
	margin-left: 110px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 25%;
	height: 100px;
	float: left;
	position: relative;
	text-align: center;
	line-height: 50px;
	
}

.nav {
	background: white;
	color: gray;
	position: relative;
	float: left;
	width: 45%;
	/*position: absolute;*/
	top: 0;
	right: -500px;
	padding-left: 30px
	
}

.me {
	position: relative;
	float: left;
	width: 650px;
	background: white;
	top: 30px;
    margin-left: 110px;

}

.sidebar {
	position: absolute;
	float: left;
	background: white;
	top: 0px;
	right: -315px;
	width: 270px;
	padding:15px;


}

